[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/rooeque/oh-my-zsh.git
